* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
	position: relative;
}

body {
    background-color: #FCFAEA;
    font-family: Lorena, "Copperplate Gothic Light", fantasy;
	min-height: 200vh;
}

#header {
	position: relative;
	left: 0;
	top: 0px;
	background-color: #225C34;#7ECCBE
	width: 100%;
	height: 300px;
	z-index: 2;
}

#navigasjon {
	position: absolute;
	left: 40%;
	top: 50%;
	width: 60%;
	transform: translate(0, -50%);
}

.meny {
	width: 200px;
	height: 150px;
	background-color: #7ECCBE;
	color: white;
	display: inline-block;
	border-collapse: collapse;
}

#ball {
	width: 280px;
	height: 280px;
	background-color: #7ECCBE;
	z-index: 1;
	position: fixed;
	left: 20px;
	top: 20px;
	border-radius: 50%;
}

#bilde {
	position: absolute;
	top: 50%;
	left: 20%;
	width: 450px;
	height: 200px;
	transform: translate(-50%, -50%);
}

#B_bilde {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}




